<div class="banner">
  <img src="assets/big-banner.png" alt="Big banner">
</div>

<div class="showcases">
  <app-showcase title="Projektuję strony internetowe"
                description="Dostosowane do Twoich potrzeb, wykonane według Twojego pomysłu"
                image="assets/svg/ui.svg">
  </app-showcase>
  <app-showcase title="Pisane od podstaw"
                description="Nie wykorzystuję gotowych szablonów i kreatorów gdyż nie dają one całkowitej kontroli ani swobody"
                image="assets/svg/code.svg"
                class="reversed">
  </app-showcase>
  <app-showcase title="Wydajność i niezawodność"
                description="Które osiągam poprzez dokładne testowanie oraz tworzenie optymalnych i nowatorskich rozwiązań"
                image="assets/svg/lightning.svg">
  </app-showcase>
  <app-showcase title="Tylko najnowsze technologie"
                description="Dzięki czemu masz pewność że twoja strona pozostanie bezpieczna i sprawna na długo"
                image="assets/svg/frameworks.svg"
                class="reversed">
  </app-showcase>
</div>
