.banner {
  max-width: 1200px;
  margin: 2em auto;
  padding: 0 1em;
  overflow: hidden;
}

.banner img {
  transform: rotate(-10deg);
  clip-path: polygon(60% 0, 60% 35%, 100% 35%, 100% 100%, 35% 100%, 35% 65%, 0 65%, 0 0);
}

.showcases {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
}

@media (max-width: 900px) {
  :host {
    background-image: url('../../assets/background-tile.png');
    background-size: 100%;
    display: block;
  }

  .banner {
    display: none;
  }

  app-showcase {
    max-width: 75%;
    margin: 3em auto;
    display: block;
  }
}
