<div class="banner">
  <img src="assets/big-banner.png" alt="Big banner">
</div>

<div class="showcases">
  <app-showcase title="Projektuję strony internetowe"
                description="Dostosowane do Twoich potrzeb, wykonane według Twojego pomysłu"
                image="assets/svg/ui.svg">
  </app-showcase>
  <app-showcase title="Pisane od podstaw"
                description="Bez wykorzystywania gotowych szablonów i kreatorów"
                image="assets/svg/code.svg"
                class="reversed">
  </app-showcase>
</div>
