header {
  max-width: 800px;
  margin: 0 auto;
  padding: .5em;

  display: flex;
  font-size: 1.75em;
}

header div,
header nav {
  flex: 1;
}

header nav {
  text-align: right;
  font-size: .7em;
  line-height: 1.75em;
}

@media (max-width: 500px) {
  header {
    display: block;
    text-align: center;
  }

  header nav {
    text-align: center;
    padding-top: 1em;
  }
}
