:host {
  margin: 0 .2em;
}

a {
  color: var(--text10);
  padding: .3em;
  text-decoration: none;
  background: radial-gradient(var(--background30), var(--background30)) no-repeat left bottom;
  background-size: 100% 10%;
  transition: all .2s ease;
}

a:hover {
  background-size: 100% 100%;
  cursor: pointer;
}

.simple {
  background: none;
  padding: 0;
  transition: none;
}
